$push-slug: push !default;

@for $i from 0 through 20 {

    /*
    * Commenting for now, keeps large  or default from applying if these classes are also applied
    */
    // .#{$push-slug}--small-#{$i+'0'},
    // .#{$push-slug}--medium-#{$i+'0'}{
    //     margin-top: 0;
    // }

    .#{$push-slug}--#{$i+'0'},
    .#{$push-slug}--large-#{$i+'0'}{
        margin-top: #{($i+'0')+'px'};
    }

    .push--large-clear{
      margin-top: 0px;
    }
}


@include breakpoint(small down){

	@for $i from 1 through 20 {

	    .#{$push-slug}--small-#{$i+'0'}{
	    	margin-top: #{($i+'0')+'px'};
	    }
	}

	.push--small-clear{
    margin-top: 0px;
  }
}

@include breakpoint(large down){

	@for $i from 1 through 20 {

	    .#{$push-slug}--medium-#{$i+'0'}{
	    	margin-top: #{($i+'0')+'px'};
	    }
	}

	.push--medium-clear{
    margin-top: 0px;
  }
}
