---
title: Home
heading: 'Rokkan Assemble!'
---


<div class="row">
  <div class="columns large-24 push--20">
    <h1 class="hdg hdg--1"> If you're seeing this, you've done it sparky...</h1>
  </div>
  <hr>
  <div class="columns large-24">
    <h3 class="hdg hdg--3">Now, get working :)</h3>
  </div>
  <div class="columns large-24">
    <label for="">Choose a color</label>
    <input type="radio" id="color-red" name="color" value="red" />
    <label for="color-red">Red</label>
    <input type="radio" id="color-blue" name="color" value="blue" />
    <label for="color-blue">Blue</label>

    <label for="">Terms &amp; Conditions</label>
    <input type="checkbox" id="terms" name="terms" value="true" />
    <label for="terms">Accept terms</label>

    <label for="state">State:</label>
    <select id="state" name="state">
      <option value="">Select</option>
      <option value="Alabama">Alabama</option>
      <option value="Alaska">Alaska</option>
    </select>
  </div>
</div>
